.dash-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dash-search {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.posts-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* justify-content: space-around; */
}
