.nav-bar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 20px;
}

.prof-pic {
  height: 75px;
  width: 75px;
  background-size: cover;
  background-color: whitesmoke;
  border-radius: 50%;
}

.username {
  font-size: 1.5rem;
}
