.auth-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-box {
  height: 500px;
  width: 500px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 15px;
  box-shadow: black 5px 5px 5px 5px;
  /* background: rgb(238, 211, 174);
  background: radial-gradient(
    circle,
    rgba(238, 211, 174, 0.835171568627451) 25%,
    rgba(148, 187, 233, 1) 100%
  ); */
  background: rgb(112, 255, 0);
  background: linear-gradient(
    45deg,
    rgba(112, 255, 0, 1) 0%,
    rgba(7, 58, 240, 1) 43%,
    rgba(255, 0, 0, 1) 100%
  );
}
